In [234]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder,MinMaxScaler,OrdinalEncoder, MultiLabelBinarizer
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout

In [236]:
df = pd.read_csv('expanded_career_advancement_dataset.csv')
df.head(3)

,user_id,age,gender,current_role,years_of_experience,current_industry,previous_roles,key_skills,certifications,desired_role,preferred_industry,short_term_goal,long_term_goal,learning_style,time_available_per_week,motivation_level,recommended_skills
0,1,52,Female,Content Writer,13.4,Marketing,"Software Engineer, Content Writer, Marketing S...","Project Management, Data Analysis, SEO, Python",NaN,Data Scientist,Marketing,Upskilling,Expertise,Collaborative,10,6,Leadership
1,2,47,Female,Software Engineer,4.6,Healthcare,"Content Writer, HR Manager, Software Engineer","Leadership, Cloud Computing, Java, Data Analys...","AWS Certified, Scrum Master, Google Analytics",Team Lead,Marketing,Role Switch,Leadership,Collaborative,28,2,"Python, SEO"
2,3,49,Male,Entrepreneur,1.6,Marketing,HR Manager,"Leadership, Data Analysis, Cloud Computing, Pr...","Scrum Master, Google Analytics, PMP",Business Consultant,Healthcare,Upskilling,Entrepreneurship,Collaborative,10,3,"Data Analysis, Leadership"

In [237]:
#Encoding Gender
le = LabelEncoder()
df['gender_encoded']=le.fit_transform(df['gender'])

In [240]:
#Encoding Learning_style
oe = OrdinalEncoder(categories=[['Collaborative','Hands-on','Reading']])
df['learning_style_encoded'] = oe.fit_transform(df[['learning_style']])

In [241]:
#Encoding columns which are fit for frequency Encoding
f1 = df['current_role'].value_counts()
df['current_role_encoded'] = df['current_role'].map(f1)
f2 = df['current_industry'].value_counts()
df['current_industry_encoded'] = df['current_industry'].map(f2)
f3 = df['previous_roles'].value_counts()
df['previous_roles_encoded'] = df['previous_roles'].map(f3)
f4 = df['desired_role'].value_counts()
df['desired_role_encoded'] = df['desired_role'].map(f4)
f5 = df['preferred_industry'].value_counts()
df['preferred_industry_encoded'] = df['preferred_industry'].map(f5)
f6 = df['short_term_goal'].value_counts()
df['short_term_encoded'] = df['short_term_goal'].map(f6)
f7 = df['long_term_goal'].value_counts()
df['long_term_encoded'] = df['long_term_goal'].map(f7)
f8 = df['key_skills'].value_counts()
df['key_skills_encoded'] = df['key_skills'].map(f8)
f9 = df['recommended_skills'].value_counts()
df['recommended_skills_encoded'] = df['recommended_skills'].map(f9)
f10 = df['certifications'].value_counts()
df['certifications_encoded'] = df['certifications'].map(f10)

In [244]:
df

,user_id,age,gender,current_role,years_of_experience,current_industry,previous_roles,key_skills,certifications,desired_role,...,current_role_encoded,current_industry_encoded,previous_roles_encoded,desired_role_encoded,preferred_industry_encoded,short_term_encoded,long_term_encoded,key_skills_encoded,recommended_skills_encoded,certifications_encoded
0,1,52,Female,Content Writer,13.400000,Marketing,"Software Engineer, Content Writer, Marketing S...","Project Management, Data Analysis, SEO, Python",NaN,Data Scientist,...,487,609,8,615,647,1033,1002,5,156,NaN
1,2,47,Female,Software Engineer,4.600000,Healthcare,"Content Writer, HR Manager, Software Engineer","Leadership, Cloud Computing, Java, Data Analys...","AWS Certified, Scrum Master, Google Analytics",Team Lead,...,466,610,3,557,647,961,992,1,21,26.0
2,3,49,Male,Entrepreneur,1.600000,Marketing,HR Manager,"Leadership, Data Analysis, Cloud Computing, Pr...","Scrum Master, Google Analytics, PMP",Business Consultant,...,490,609,202,576,583,1033,1006,1,33,31.0
3,4,37,Female,Entrepreneur,15.100000,Finance,HR Manager,"Cloud Computing, SEO",NaN,Creative Director,...,490,593,202,612,577,961,992,19,24,NaN
4,5,47,Female,Software Engineer,6.300000,Finance,Entrepreneur,"Leadership, Project Management",NaN,Business Consultant,...,466,593,193,576,583,961,1002,26,26,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2251,30,Male,HR Manager,10.062505,IT,Entrepreneur,"Python, Data Analysis, Cloud Computing, Java, SEO","AWS Certified, PMP, Google Analytics",Creative Director,...,475,611,193,612,647,1006,992,3,147,28.0
2996,3850,27,Male,Data Analyst,6.662222,Finance,"HR Manager, Entrepreneur, Marketing Specialist","Python, Cloud Computing, Java",Scrum Master,Project Manager,...,543,593,10,640,583,1006,992,4,156,157.0
2997,3260,41,Female,HR Manager,8.367843,IT,Content Writer,"Cloud Computing, Java, Project Management, Dat...",NaN,Business Consultant,...,475,611,178,576,622,961,1002,3,33,NaN
2998,2031,29,Male,Data Analyst,20.177527,Healthcare,"Software Engineer, Marketing Specialist, Entre...","Python, Cloud Computing, SEO",NaN,Project Manager,...,543,610,11,640,577,1033,992,11,29,NaN
2999,3052,50,Female,Data Analyst,1.832045,Marketing,"Marketing Specialist, Data Analyst","Leadership, Data Analysis, Python, Project Man...",NaN,Data Scientist,...,543,609,35,615,571,961,992,4,6,NaN

In [246]:
#Imputing the missing values
my_imputer = SimpleImputer(strategy='mean')
df['certifications_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['certifications_encoded']]))
df['recommended_skills_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['recommended_skills_encoded']]))
df['key_skills_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['key_skills_encoded']]))
df['long_term_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['long_term_encoded']]))
df['short_term_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['short_term_encoded']]))
df['desired_role_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['desired_role_encoded']]))
df['previous_roles_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['previous_roles_encoded']]))
df['current_industry_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['current_industry_encoded']]))
df['current_role_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['current_role_encoded']]))
df['preferred_industry_imputed'] = pd.DataFrame(my_imputer.fit_transform(df[['preferred_industry_encoded']]))

In [134]:
df.head(2)

,user_id,age,gender,current_role,years_of_experience,current_industry,previous_roles,key_skills,certifications,desired_role,...,certifications_imputed,recommended_skills_imputed,key_skills_imputed,long_term_imputed,short_term_imputed,desired_role_imputed,previous_roles_imputed,current_industry_imputed,current_role_imputed,preferred_industry_imputed
0,1,52,Female,Content Writer,13.4,Marketing,"Software Engineer, Content Writer, Marketing S...","Project Management, Data Analysis, SEO, Python",NaN,Data Scientist,...,71.799544,156.0,5.0,1002.0,1033.0,615.0,8.0,609.0,487.0,647.0
1,2,47,Female,Software Engineer,4.6,Healthcare,"Content Writer, HR Manager, Software Engineer","Leadership, Cloud Computing, Java, Data Analys...","AWS Certified, Scrum Master, Google Analytics",Team Lead,...,26.000000,21.0,1.0,992.0,961.0,557.0,3.0,610.0,466.0,647.0

In [136]:
#Splitting the Dataset into Feature and Target columns
feature_names = ['age','gender_encoded','current_role_imputed','preferred_industry_imputed','current_industry_imputed','previous_roles_imputed','desired_role_imputed','short_term_imputed','long_term_imputed','key_skills_imputed','certifications_imputed','years_of_experience','time_available_per_week','motivation_level']
Target_name=['recommended_skills_imputed']
X = df[feature_names]
y = df[Target_name]
X

,age,gender_encoded,current_role_imputed,preferred_industry_imputed,current_industry_imputed,previous_roles_imputed,desired_role_imputed,short_term_imputed,long_term_imputed,key_skills_imputed,certifications_imputed,years_of_experience,time_available_per_week,motivation_level
0,52,0,487.0,647.0,609.0,8.0,615.0,1033.0,1002.0,5.0,71.799544,13.400000,10,6
1,47,0,466.0,647.0,610.0,3.0,557.0,961.0,992.0,1.0,26.000000,4.600000,28,2
2,49,1,490.0,583.0,609.0,202.0,576.0,1033.0,1006.0,1.0,31.000000,1.600000,10,3
3,37,0,490.0,577.0,593.0,202.0,612.0,961.0,992.0,19.0,71.799544,15.100000,11,9
4,47,0,466.0,583.0,593.0,193.0,576.0,961.0,1002.0,26.0,71.799544,6.300000,29,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,30,1,475.0,647.0,611.0,193.0,612.0,1006.0,992.0,3.0,28.000000,10.062505,18,6
2996,27,1,543.0,583.0,593.0,10.0,640.0,1006.0,992.0,4.0,157.000000,6.662222,17,2
2997,41,0,475.0,622.0,611.0,178.0,576.0,961.0,1002.0,3.0,71.799544,8.367843,18,8
2998,29,1,543.0,577.0,610.0,11.0,640.0,1033.0,992.0,11.0,71.799544,20.177527,16,10
2999,50,0,543.0,571.0,609.0,35.0,615.0,961.0,992.0,4.0,71.799544,1.832045,25,8

In [248]:
pd.DataFrame(y)

      recommended_skills_imputed
0                          156.0
1                           21.0
2                           33.0
3                           24.0
4                           26.0
...                          ...
2995                       147.0
2996                       156.0
2997                        33.0
2998                        29.0
2999                         6.0

[3000 rows x 1 columns]

In [369]:
#Splitting the dataset
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_test

,age,gender_encoded,current_role_imputed,preferred_industry_imputed,current_industry_imputed,previous_roles_imputed,desired_role_imputed,short_term_imputed,long_term_imputed,key_skills_imputed,certifications_imputed,years_of_experience,time_available_per_week,motivation_level
1801,30,1,539.0,647.0,611.0,202.0,612.0,1033.0,1002.0,2.0,55.000000,1.600000,18,3
1190,45,0,466.0,571.0,577.0,202.0,576.0,1033.0,1006.0,4.0,50.000000,13.200000,11,9
1817,32,0,475.0,577.0,609.0,9.0,615.0,1033.0,1006.0,2.0,132.000000,8.400000,19,3
251,48,0,490.0,577.0,593.0,174.0,640.0,1033.0,1002.0,1.0,71.799544,18.200000,23,6
2505,50,1,543.0,647.0,593.0,7.0,612.0,1033.0,1006.0,2.0,20.000000,1.816290,24,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,44,0,539.0,622.0,577.0,9.0,576.0,1033.0,1006.0,1.0,132.000000,5.200000,27,6
2087,39,1,466.0,571.0,610.0,16.0,576.0,961.0,1006.0,26.0,157.000000,14.973829,28,8
599,39,1,475.0,583.0,611.0,11.0,557.0,1006.0,1002.0,1.0,29.000000,12.900000,10,6
1756,38,0,539.0,647.0,611.0,10.0,640.0,961.0,1002.0,3.0,29.000000,5.400000,28,10
1323,51,0,487.0,571.0,611.0,50.0,576.0,1033.0,1006.0,2.0,71.799544,19.200000,5,7

In [371]:
#Scaling the encoded and imputed feature values
me = MinMaxScaler()
scaled_X_train = pd.DataFrame(me.fit_transform(X_train))
scaled_X_test = pd.DataFrame(me.transform(X_test))
scaled_X_train

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.116279,1.0,0.116883,0.157895,0.470588,0.955224,1.000000,0.625,1.000000,1.000000,0.431997,0.252448,0.241379,0.000000
1,0.720930,0.0,0.311688,0.000000,0.941176,0.751244,0.698795,0.000,1.000000,0.000000,0.173333,0.330477,0.068966,0.666667
2,0.139535,0.0,0.948052,1.000000,0.470588,0.880597,0.000000,1.000,0.714286,0.000000,0.226667,0.766523,0.586207,0.222222
3,0.883721,0.0,0.272727,0.000000,0.470588,0.084577,0.228916,1.000,0.000000,0.066667,0.431997,0.165238,0.620690,0.111111
4,0.418605,0.0,0.948052,1.000000,0.941176,0.034826,0.662651,0.000,1.000000,0.900000,0.346667,0.514075,0.413793,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2395,0.139535,0.0,0.000000,0.671053,1.000000,0.044776,0.228916,1.000,0.000000,0.033333,0.226667,0.523255,0.758621,0.555556
2396,0.441860,1.0,0.311688,0.157895,0.941176,0.800995,0.662651,0.625,0.000000,0.433333,0.160000,0.110159,0.586207,0.333333
2397,0.860465,0.0,0.948052,0.671053,1.000000,1.000000,0.000000,0.000,1.000000,0.833333,0.073333,0.151469,0.724138,0.888889
2398,0.279070,0.0,0.000000,0.671053,0.941176,0.019900,0.698795,1.000,0.714286,0.933333,0.246667,0.156059,0.517241,0.666667
2399,0.860465,1.0,1.000000,0.078947,0.470588,0.049751,0.000000,1.000,0.000000,0.100000,0.431997,0.142289,0.448276,0.000000

In [373]:
scaled_X_test

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.302326,1.0,0.948052,1.000000,1.000000,1.000000,0.662651,1.000,0.714286,0.033333,0.320000,0.073439,0.517241,0.222222
1,0.651163,0.0,0.000000,0.000000,0.000000,1.000000,0.228916,1.000,1.000000,0.100000,0.286667,0.605874,0.275862,0.888889
2,0.348837,0.0,0.116883,0.078947,0.941176,0.039801,0.698795,1.000,1.000000,0.033333,0.833333,0.385556,0.551724,0.222222
3,0.720930,0.0,0.311688,0.078947,0.470588,0.860697,1.000000,1.000,0.714286,0.000000,0.431997,0.835372,0.689655,0.555556
4,0.767442,1.0,1.000000,1.000000,0.470588,0.029851,0.662651,1.000,1.000000,0.033333,0.086667,0.083367,0.724138,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,0.627907,0.0,0.948052,0.671053,0.000000,0.039801,0.228916,1.000,1.000000,0.000000,0.833333,0.238678,0.827586,0.555556
596,0.511628,1.0,0.000000,0.000000,0.970588,0.074627,0.228916,0.000,1.000000,0.833333,1.000000,0.687292,0.862069,0.777778
597,0.511628,1.0,0.116883,0.157895,1.000000,0.049751,0.000000,0.625,0.714286,0.000000,0.146667,0.592104,0.241379,0.555556
598,0.488372,0.0,0.948052,1.000000,1.000000,0.044776,1.000000,0.000,0.714286,0.066667,0.146667,0.247858,0.862069,1.000000
599,0.790698,0.0,0.272727,0.000000,1.000000,0.243781,0.228916,1.000,1.000000,0.033333,0.431997,0.881272,0.068966,0.666667

In [375]:
#Sample preprocessing test 
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(scaled_X_train,y_train)
y_pred=regressor.predict(scaled_X_test)
from sklearn.metrics import mean_squared_error, r2_score
print("Mean Squared Error:", mean_squared_error(y_test, y_pred))
print("R-squared:", r2_score(y_test, y_pred))

Mean Squared Error: 4074.3517855160676
R-squared: -0.011532509932053348

In [335]:
#Implementing RandomForestClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report, accuracy_score
from sklearn.multiclass import OneVsRestClassifier


rf_model = RandomForestClassifier(n_estimators=100, random_state=42)
multi_label_rf_model = OneVsRestClassifier(rf_model)
multi_label_rf_model.fit(scaled_X_train, y_train)
y_pred = multi_label_rf_model.predict(scaled_X_test)

accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.4f}')

Accuracy: 0.4700

In [321]:
#Hyperparameter Tuning 
from sklearn.model_selection import RandomizedSearchCV
import numpy as np

# Define parameter grid for Random Forest
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': ['auto', 'sqrt', 'log2']
}

rf_model = RandomForestClassifier(random_state=42)

random_search = RandomizedSearchCV(rf_model, param_grid, n_iter=10, cv=5, verbose=2, random_state=42)

random_search.fit(scaled_X_train, y_train)

print("Best parameters found: ", random_search.best_params_)

y_pred = random_search.predict(scaled_X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)
print(f'Optimized Accuracy: {accuracy:.4f}')

Fitting 5 folds for each of 10 candidates, totalling 50 fits

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=10, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=1, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=1, min_samples_split=2, n_estimators=300; total time=   2.2s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=1, min_samples_split=2, n_estimators=300; total time=   2.2s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=1, min_samples_split=2, n_estimators=300; total time=   2.2s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=1, min_samples_split=2, n_estimators=300; total time=   2.4s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=1, min_samples_split=2, n_estimators=300; total time=   2.2s
[CV] END max_depth=None, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=None, max_features=auto, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.0s
[CV] END max_depth=20, max_features=auto, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.0s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=sqrt, min_samples_leaf=4, min_samples_split=2, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.9s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=log2, min_samples_leaf=1, min_samples_split=5, n_estimators=100; total time=   0.8s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=200; total time=   1.5s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=200; total time=   1.5s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=200; total time=   1.5s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=200; total time=   1.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=20, max_features=sqrt, min_samples_leaf=1, min_samples_split=10, n_estimators=200; total time=   1.7s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   0.0s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   0.0s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   0.0s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   0.0s
[CV] END max_depth=30, max_features=auto, min_samples_leaf=4, min_samples_split=5, n_estimators=300; total time=   0.0s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.7s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

[CV] END max_depth=10, max_features=log2, min_samples_leaf=2, min_samples_split=2, n_estimators=100; total time=   0.6s

C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py:540: FitFailedWarning:
15 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
15 fits failed with the following error:
Traceback (most recent call last):
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_validation.py", line 888, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 1466, in wrapper
    estimator._validate_params()
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py", line 666, in _validate_params
    validate_parameter_constraints(
  File "C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\utils\_param_validation.py", line 95, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'log2', 'sqrt'} or None. Got 'auto' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1102: UserWarning: One or more of the test scores are non-finite: [0.35809524 0.41095238 0.42285714        nan        nan 0.37142857
 0.42809524 0.41333333        nan 0.39761905]
  warnings.warn(
C:\Users\Lenovo\anaconda3\Lib\site-packages\sklearn\base.py:1473: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

Best parameters found:  {'n_estimators': 100, 'min_samples_split': 5, 'min_samples_leaf': 1, 'max_features': 'log2', 'max_depth': 20}
Optimized Accuracy: 0.4722

In [323]:
from sklearn.metrics import classification_report

# Print classification report
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

         1.0       0.00      0.00      0.00         3
         2.0       1.00      0.12      0.21        17
         3.0       0.78      0.27      0.40        26
         4.0       0.27      0.35      0.31        48
         5.0       0.62      0.51      0.56        41
         6.0       0.45      0.41      0.43        32
         7.0       0.30      0.57      0.39        47
         8.0       0.58      0.39      0.47        18
         9.0       0.53      0.47      0.50        19
        10.0       0.56      0.56      0.56         9
        11.0       1.00      0.57      0.73         7
        12.0       0.88      0.64      0.74        11
        13.0       1.00      0.60      0.75        10
        14.0       1.00      0.75      0.86         4
        15.0       1.00      0.50      0.67         4
        16.0       0.50      0.17      0.25         6
        17.0       0.92      0.52      0.67        21
        18.0       0.79      0.44      0.56        25
        20.0       0.58      0.47      0.52        15
        21.0       0.78      0.58      0.67        12
        22.0       0.68      0.43      0.53        30
        23.0       1.00      0.11      0.20        18
        24.0       0.83      0.45      0.59        11
        25.0       1.00      0.44      0.62         9
        26.0       0.78      0.47      0.58        15
        27.0       0.47      0.39      0.42        18
        28.0       0.64      0.44      0.52        16
        29.0       0.67      0.48      0.56        29
        30.0       0.83      0.83      0.83        12
        31.0       0.80      0.40      0.53        10
        32.0       1.00      0.33      0.50        12
        33.0       0.41      0.81      0.54        32
        34.0       0.33      0.25      0.29         8
        35.0       1.00      0.56      0.71         9
       111.0       0.32      0.40      0.36        30
       121.0       0.47      0.51      0.49        37
       127.0       0.50      0.51      0.51        39
       147.0       0.38      0.41      0.40        44
       148.0       0.52      0.53      0.53        49
       156.0       0.32      0.60      0.42        43
       179.0       0.32      0.50      0.39        54

    accuracy                           0.47       900
   macro avg       0.65      0.46      0.51       900
weighted avg       0.56      0.47      0.48       900

In [311]:
#Implementing 2 layered Neural Network 
model = Sequential([
    Dense(128,input_dim=scaled_X_train.shape[1],activation='relu'),
    Dropout(0.3),
    Dense(64,activation='relu'),
    Dropout(0.3),
    Dense(y_train.shape[1],activation='sigmoid'),
])

#Compiling the model and adding optimizer
model.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])
from tensorflow.keras.optimizers import Adam
optimizer = Adam(learning_rate=0.0001)  # A smaller learning rate
model.compile(optimizer=optimizer, loss='binary_crossentropy', metrics=['accuracy'])

#Fitting the Data in the Designed model
history=model.fit(
    scaled_X_train,y_train,
    validation_data=(scaled_X_test,y_test),
    epochs=50,
    batch_size=64
)

C:\Users\Lenovo\anaconda3\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 3s 20ms/step - accuracy: 0.0018 - loss: 8.4508 - val_accuracy: 0.0033 - val_loss: -5.6460
Epoch 2/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 8ms/step - accuracy: 0.0059 - loss: -10.2607 - val_accuracy: 0.0033 - val_loss: -27.3049
Epoch 3/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0051 - loss: -33.3372 - val_accuracy: 0.0033 - val_loss: -53.8818
Epoch 4/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0054 - loss: -59.5403 - val_accuracy: 0.0033 - val_loss: -87.2204
Epoch 5/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0062 - loss: -100.5844 - val_accuracy: 0.0033 - val_loss: -131.8487
Epoch 6/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0038 - loss: -149.2565 - val_accuracy: 0.0033 - val_loss: -188.8674
Epoch 7/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0041 - loss: -209.7825 - val_accuracy: 0.0033 - val_loss: -263.6787
Epoch 8/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0072 - loss: -288.7586 - val_accuracy: 0.0033 - val_loss: -361.2670
Epoch 9/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 7ms/step - accuracy: 0.0028 - loss: -397.0805 - val_accuracy: 0.0033 - val_loss: -485.2848
Epoch 10/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0041 - loss: -517.9094 - val_accuracy: 0.0033 - val_loss: -638.3942
Epoch 11/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0037 - loss: -698.7968 - val_accuracy: 0.0033 - val_loss: -825.0793
Epoch 12/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0036 - loss: -885.1917 - val_accuracy: 0.0033 - val_loss: -1048.7985
Epoch 13/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0059 - loss: -1123.8907 - val_accuracy: 0.0033 - val_loss: -1313.1260
Epoch 14/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0035 - loss: -1475.4081 - val_accuracy: 0.0033 - val_loss: -1625.1368
Epoch 15/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0049 - loss: -1718.3502 - val_accuracy: 0.0033 - val_loss: -1983.3519
Epoch 16/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0049 - loss: -2102.5027 - val_accuracy: 0.0033 - val_loss: -2395.6426
Epoch 17/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0054 - loss: -2539.0374 - val_accuracy: 0.0033 - val_loss: -2856.8586
Epoch 18/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0057 - loss: -2999.0210 - val_accuracy: 0.0033 - val_loss: -3382.4612
Epoch 19/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.0059 - loss: -3639.1455 - val_accuracy: 0.0033 - val_loss: -3962.6738
Epoch 20/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0055 - loss: -4294.9961 - val_accuracy: 0.0033 - val_loss: -4608.3496
Epoch 21/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0067 - loss: -4776.0908 - val_accuracy: 0.0033 - val_loss: -5306.5601
Epoch 22/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 8ms/step - accuracy: 0.0058 - loss: -5627.3672 - val_accuracy: 0.0033 - val_loss: -6074.8716
Epoch 23/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 14ms/step - accuracy: 0.0052 - loss: -6580.4033 - val_accuracy: 0.0033 - val_loss: -6906.0962
Epoch 24/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.0093 - loss: -7033.3086 - val_accuracy: 0.0033 - val_loss: -7807.3423
Epoch 25/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0074 - loss: -8177.6387 - val_accuracy: 0.0033 - val_loss: -8772.5459
Epoch 26/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0074 - loss: -9036.4180 - val_accuracy: 0.0033 - val_loss: -9818.2812
Epoch 27/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.0054 - loss: -9833.4102 - val_accuracy: 0.0033 - val_loss: -10918.9707
Epoch 28/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.0076 - loss: -11503.6475 - val_accuracy: 0.0033 - val_loss: -12111.2803
Epoch 29/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.0070 - loss: -12870.2266 - val_accuracy: 0.0033 - val_loss: -13379.6445
Epoch 30/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 11ms/step - accuracy: 0.0045 - loss: -13612.2803 - val_accuracy: 0.0033 - val_loss: -14709.9531
Epoch 31/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.0049 - loss: -15634.5303 - val_accuracy: 0.0033 - val_loss: -16143.1270
Epoch 32/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.0070 - loss: -17229.3066 - val_accuracy: 0.0033 - val_loss: -17657.4688
Epoch 33/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.0071 - loss: -18019.3574 - val_accuracy: 0.0033 - val_loss: -19232.2871
Epoch 34/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0058 - loss: -20140.2598 - val_accuracy: 0.0033 - val_loss: -20908.2734
Epoch 35/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 9ms/step - accuracy: 0.0046 - loss: -22393.7852 - val_accuracy: 0.0033 - val_loss: -22663.0098
Epoch 36/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0071 - loss: -23963.0039 - val_accuracy: 0.0033 - val_loss: -24486.8711
Epoch 37/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0055 - loss: -25095.9883 - val_accuracy: 0.0033 - val_loss: -26407.6992
Epoch 38/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0060 - loss: -26193.6426 - val_accuracy: 0.0033 - val_loss: -28410.0352
Epoch 39/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 11ms/step - accuracy: 0.0059 - loss: -29370.4551 - val_accuracy: 0.0033 - val_loss: -30519.2891
Epoch 40/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.0059 - loss: -31869.8008 - val_accuracy: 0.0033 - val_loss: -32715.0098
Epoch 41/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0035 - loss: -34906.2188 - val_accuracy: 0.0033 - val_loss: -35001.9766
Epoch 42/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.0066 - loss: -37117.0859 - val_accuracy: 0.0033 - val_loss: -37360.7852
Epoch 43/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0039 - loss: -37634.9453 - val_accuracy: 0.0033 - val_loss: -39765.3750
Epoch 44/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0042 - loss: -40951.2773 - val_accuracy: 0.0033 - val_loss: -42342.0664
Epoch 45/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 9ms/step - accuracy: 0.0065 - loss: -43568.3086 - val_accuracy: 0.0033 - val_loss: -44994.5781
Epoch 46/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.0028 - loss: -44376.5508 - val_accuracy: 0.0033 - val_loss: -47733.9883
Epoch 47/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 10ms/step - accuracy: 0.0068 - loss: -47464.5469 - val_accuracy: 0.0033 - val_loss: -50575.9648
Epoch 48/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 1s 16ms/step - accuracy: 0.0075 - loss: -52260.6406 - val_accuracy: 0.0033 - val_loss: -53508.1484
Epoch 49/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0044 - loss: -54140.3828 - val_accuracy: 0.0033 - val_loss: -56493.2930
Epoch 50/50
33/33 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step - accuracy: 0.0037 - loss: -56247.2148 - val_accuracy: 0.0033 - val_loss: -59640.2500

In [308]:
print(np.any(np.isnan(X_train)))
print(np.any(np.isnan(y_train)))

False
False

In [297]:
print(scaled_X_train.shape)
print(X_test.shape)

(2100, 14)
(900, 14)